.page_title {
    color: #000000;
    padding:20px;
    border-radius:4px;
    margin:5px;
    display:inline-block;
}

body {
    background-color: #303841;
    text-align:center;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.input_panel {
    background-color: #3A4750;
    border-radius: 20px;
    display:inline-block;
    margin:50px;
    padding:50px;
    color:#EEEEEE;
}
